In [1]:
# TODO: problema con 3 últimas filas, excepto en e

In [2]:
from class_prep import PrepPsuAccess
from sqlalchemy import create_engine

In [3]:
# Creación de la instancia
file_path = r'C:\Users\fpalomer\Documents\PSU\PSU_2018.mdb'
p18 = PrepPsuAccess(file_path)

In [1]:
p18.tables['p18_e']

In [5]:
p18.clean_columns_name()

En p18_a no hubo cambios
En p18_b no hubo cambios
En p18_c no hubo cambios
En p18_e no hubo cambios
En p18_e_bea no hubo cambios
En p18_e_pace no hubo cambios
En p18_g no hubo cambios
En p18_g_bea no hubo cambios
En p18_g_pace no hubo cambios

In [6]:
cols_e = {
    'PTJE_RANKING': '000', 
    'PTJE_NEM': '000',
    'LENGUAJE_Y_COMUNICACION': '000',
    'MATEMATICA': '000', 
    'CIENCIAS': '000', 
    'HISTORIA_Y_CIENCIAS_SOCIALES': '000', 
    'LOCAL_EDUCACIONAL': '0000', 
    'PROMEDIO_DE_NOTAS': '000', 
    'UNIDAD_EDUCATIVA': '00', 
    'CODIGO_REGION': '00', 
    'CODIGO_PROVINCIA': '000', 
    'CODIGO_COMUNA': '00000',
    'INGRESO_BRUTO_FAMILIAR': '00'
}

p18.replace_nan_values(cols_e)

Valores reemplazados en p18_e:
PTJE_RANKING                      25
PTJE_NEM                          25
LENGUAJE_Y_COMUNICACION            0
MATEMATICA                         0
CIENCIAS                        5017
HISTORIA_Y_CIENCIAS_SOCIALES    9255
LOCAL_EDUCACIONAL                115
PROMEDIO_DE_NOTAS                 25
UNIDAD_EDUCATIVA                 115
CODIGO_REGION                     37
CODIGO_PROVINCIA                  37
CODIGO_COMUNA                    115
INGRESO_BRUTO_FAMILIAR          1334
Name: added_nan_values, dtype: int64

Valores reemplazados en p18_e_bea:
PTJE_RANKING                      0
PTJE_NEM                          0
LENGUAJE_Y_COMUNICACION           0
MATEMATICA                        0
CIENCIAS                        183
HISTORIA_Y_CIENCIAS_SOCIALES    982
LOCAL_EDUCACIONAL                 0
PROMEDIO_DE_NOTAS                 0
UNIDAD_EDUCATIVA                  0
CODIGO_REGION                     0
CODIGO_PROVINCIA                  0
CODIGO_COMUNA                     0
INGRESO_BRUTO_FAMILIAR            0
Name: added_nan_values, dtype: int64

Valores reemplazados en p18_e_pace:
PTJE_RANKING                      0
PTJE_NEM                          0
LENGUAJE_Y_COMUNICACION           0
MATEMATICA                        0
CIENCIAS                        210
HISTORIA_Y_CIENCIAS_SOCIALES    551
LOCAL_EDUCACIONAL                 0
PROMEDIO_DE_NOTAS                 0
UNIDAD_EDUCATIVA                  0
CODIGO_REGION                     0
CODIGO_PROVINCIA                  0
CODIGO_COMUNA                     0
INGRESO_BRUTO_FAMILIAR            0
Name: added_nan_values, dtype: int64

In [7]:
dtype_dict = {
    'TIPO_DE_IDENTIFICACION': 'VARCHAR (1)',
    'NUMERO_DOCUMENTO': 'VARCHAR (255)',
    'AÑO_PROCESO': 'INT', 
    'MATERNO': 'VARCHAR (255)', 
    'PATERNO': 'VARCHAR (255)', 
    'NACIONALIDAD': 'INT', 
    'NOMBRE': 'VARCHAR (255)', 
    'PREFERENCIA': 'INT', 
    'SEXO': 'INT', 
    'CODIGO': 'INT', 
    'ESTADO_DE_POSTULACION': 'INT', 
    'LUGAR_EN_LA_LISTA': 'INT', 
    'PUNTAJE_PONDERADO': 'FLOAT', 
    'BEA': 'VARCHAR (255)', 
    'LOCAL_EDUCACIONAL': 'INT', 
    'SITUACION_EGRESO_EDUCACIONAL': 'INT', 
    'ROL_BASE_DATOS': 'INT', 
    'UNIDAD_EDUCATIVA': 'INT', 
    'COD_ENSENANZA': 'INT', 
    'GRUPO_DEPENDENCIA': 'INT', 
    'RAMA_EDUCACIONAL': 'VARCHAR (255)', 
    'CODIGO_PROVINCIA': 'INT', 
    'CODIGO_REGION': 'INT', 
    'AÑO_DE_EGRESO': 'INT', 
    'CODIGO_COMUNA': 'INT', 
    'PERCENTIL_NOTAS': 'VARCHAR (255)', 
    'PROMEDIO_DE_NOTAS': 'FLOAT', 
    'PTJE_NEM': 'INT', 
    'LENGUAJE_Y_COMUNICACION': 'INT', 
    'PTJE_RANKING': 'INT', 
    'HISTORIA_Y_CIENCIAS_SOCIALES': 'INT', 
    'MATEMATICA': 'INT', 
    'CIENCIAS': 'INT', 
    'MODULO_CIENCIAS': 'VARCHAR (255)', 
    'PERCENTIL_LM': 'INT', 
    'PROM_LM': 'INT', 
    'FECHA_NACIMIENTO': 'VARCHAR(255)', 
    'CALLE': 'VARCHAR (255)', 
    'INGRESO_BRUTO_FAMILIAR': 'INT', 
    'BLOCK': 'VARCHAR (255)', 
    'NUMERO': 'VARCHAR (255)', 
    'DEPARTAMENTO': 'VARCHAR (255)', 
    'COD_REGION': 'INT', 
    'VILLA/POBLACION': 'VARCHAR (255)', 
    'COD_COMUNA': 'INT', 
    'COD_PROVINCIA': 'INT', 
    'NOMBRE_COMUNA': 'VARCHAR (255)', 
    'NOMBRE_PROVINCIA': 'VARCHAR (255)', 
    'CIUDAD': 'VARCHAR (255)', 
    'CELULAR': 'VARCHAR (255)', 
    'NUMERO_TELEFONO': 'VARCHAR (255)', 
    'EMAIL': 'VARCHAR (255)', 
    'CODIGO_INSTITUCION_EDUCACION_SUPERIOR': 'VARCHAR (255)', 
    'NRO_TARJETA_DE_MATRICULA': 'INT', 
    'Id': 'INT', 
    'POND_AÑO_ACAD': 'INT'
 }

In [8]:
p18.get_columns_name('p18_e')

NUMERO_DOCUMENTO
TIPO_DE_IDENTIFICACION
AÑO_PROCESO
MATERNO
PATERNO
NACIONALIDAD
NOMBRE
PREFERENCIA
SEXO
CODIGO
ESTADO_DE_POSTULACION
LUGAR_EN_LA_LISTA
PUNTAJE_PONDERADO
BEA
LOCAL_EDUCACIONAL
SITUACION_EGRESO_EDUCACIONAL
ROL_BASE_DATOS
UNIDAD_EDUCATIVA
COD_ENSENANZA
GRUPO_DEPENDENCIA
RAMA_EDUCACIONAL
CODIGO_PROVINCIA
CODIGO_REGION
AÑO_DE_EGRESO
CODIGO_COMUNA
PERCENTIL_NOTAS
PROMEDIO_DE_NOTAS
PTJE_NEM
LENGUAJE_Y_COMUNICACION
PTJE_RANKING
HISTORIA_Y_CIENCIAS_SOCIALES
MATEMATICA
CIENCIAS
MODULO_CIENCIAS
PERCENTIL_LM
PROM_LM
FECHA_NACIMIENTO
CALLE
INGRESO_BRUTO_FAMILIAR
BLOCK
NUMERO
DEPARTAMENTO
COD_REGION
VILLA/POBLACION
COD_COMUNA
COD_PROVINCIA
NOMBRE_COMUNA
NOMBRE_PROVINCIA
CIUDAD
CELULAR
NUMERO_TELEFONO
EMAIL
CODIGO_INSTITUCION_EDUCACION_SUPERIOR
NRO_TARJETA_DE_MATRICULA
Id
POND_AÑO_ACAD

In [9]:
p18.compare_columns_name('p18_e', list(dtype_dict.keys()))

p18_e: todas las columnas iguales!

In [10]:
p18.compare_multiple_columns(list(dtype_dict.keys()))

p18_e: todas las columnas iguales!

p18_e_bea: todas las columnas iguales!

p18_e_pace
                               list_cols         real_cols
0                                    BEA              PASE
1                                CELULAR  TELEFONO_CELULAR
2  CODIGO_INSTITUCION_EDUCACION_SUPERIOR     TELEFONO_FIJO
3                          COD_ENSENANZA               NaN
4                        NUMERO_TELEFONO               NaN
5                          POND_AÑO_ACAD               NaN

In [11]:
servername = 'localhost'
database = 'psu'
engine = create_engine('mssql://{}/{}?trusted_connection=yes&driver=ODBC+Driver+13+for+SQL+Server'.format(servername, database))
p18.to_sql(engine, dtype_dict, if_exists='fail')

ValueError: Table 'p18_a' already exists.

In [ ]:
#TODO Revisar con seba nombre de diccionario

In [ ]:
set1 = {1,2,3,4} 
set2 = {3,4,5,6}
set1.symmetric_difference(set2)

In [ ]:
def auto_rw_dict('add','drop' or dict(tab_name:'add', tab2, 'drop'))
    for tab_name in self.tables_name: # table names a evaluar, tipo e
        tmp = self.compare_columns_name(tab_name, list(dtype_dict.keys()))
        if tmp is not None:
            if method == 'drop':
                drop_cols = tmp['real_cols']
                print('En {} columnas eliminadas: {}\n'.format(tab_name))